@keyframes svgAnimation {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

.border_container {
  position: relative;
}

.border_container svg {
  position: absolute;
  display: none;
}

.border_container .line {
  stroke-dasharray: 260;
  stroke-width: 2px;
  fill: transparent;
  stroke: var(--color-light-blue);
  animation: svgAnimation 2.5s linear infinite;
}

.border_container:has(input:focus) svg {
  display: block;
}

.border_container:has(input:focus) .line {
  stroke: var(--color-light-blue);
  animation: svgAnimation 3.5s linear infinite;
}
