/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@400;500;600;700&display=swap');
@import 'tailwindcss';

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: var(--color-light-white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-light-blue);
  border-radius: 10px;
}

* {
  font-family: 'IBM Plex Serif', serif;
}

body {
  overflow-x: hidden;
}

@theme {
  /* Breakpoints */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
  /* --breakpoint-laptop: 67.5rem;
  --breakpoint-desktop: 84.375rem;
  --breakpoint-tablet: 48rem;
  --breakpoint-tablet-small: 35rem;
  --breakpoint-mb: 28rem; */

  /* Colors */
  --color-white: #fff;
  --color-light-white: #f3f9ff;
  --color-blue: #101828;
  --color-gray: #475467;
  --color-light-gray: #667085;
  --color-light-blue: #0179fe;
  --color-dark-blue: #1570ef;
  --color-dark: #101828;
  --color-dark-gray: #344054;
  --color-green: #027a48;
  --color-red: #f04438;
  --color-border: #d0d5dd;
  --color-pink: #c11574;
  --color-success: #ecfdf3;
  --color-processing: #f2f4f7;
  --color-declined: #fef3f2;
  --gradient-blue: linear-gradient(90deg, #0179fe 0%, #4893ff 100%);

  /* Border and radius */
  --radius-main: 0.5rem;
  --radius-big: 1rem;
  --shadow-main: 0 1px 2px rgba(16, 24, 40, 0.05);
}

@layer utilities {
  .border {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-main);
  }

  .gradient {
    background: var(--gradient-blue);
    animation: shimmer 3s infinite;
  }

  .gradient_hover {
    background: transparent;
    position: relative;
    overflow: hidden;
    z-index: 2;
  }

  .gradient_hover * {
    position: relative;
    z-index: 2;
  }

  .gradient_hover::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--gradient-blue);
    opacity: 0;
    transition: opacity 0.25s;
    z-index: 1;
  }

  .gradient_hover:hover::before {
    opacity: 1;
  }
}